<h1>Editar Superhéroe</h1>

<!-- MOSTRAR ERRORES -->
<% if (errores && errores.length > 0) { %>
    <div style="color:red;">
        <ul>
            <% errores.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<form action="/api/heroes/<%= superhero._id %>?_method=PUT" method="POST">

    <input 
        type="text" 
        name="nombreSuperHeroe" 
        value="<%= datos?.nombreSuperHeroe || superhero.nombreSuperHeroe %>"
        required
    >
    <br><br>

    <input 
        type="text" 
        name="nombreReal" 
        value="<%= datos?.nombreReal || superhero.nombreReal %>" 
        required
    >
    <br><br>

    <input 
        type="number" 
        name="edad" 
        value="<%= datos?.edad || superhero.edad %>" 
        required
    >
    <br><br>

    <input 
        type="text" 
        name="planetaOrigen" 
        value="<%= datos?.planetaOrigen || superhero.planetaOrigen %>"
    >
    <br><br>

    <input 
        type="text" 
        name="debilidad" 
        value="<%= datos?.debilidad || superhero.debilidad %>"
    >
    <br><br>

    <input 
        type="text" 
        name="poderes" 
        value="<%= datos?.poderes || superhero.poderes.join(', ') %>" 
        required
    >
    <br><br>

    <input 
        type="text" 
        name="aliados" 
        value="<%= datos?.aliados || (superhero.aliados?.join(', ') || '') %>"
    >
    <br><br>

    <input 
        type="text" 
        name="enemigos" 
        value="<%= datos?.enemigos || (superhero.enemigos?.join(', ') || '') %>"
    >
    <br><br>

    <button type="submit">Actualizar</button>
</form>

<a href="/heroes">⬅ Volver al listado</a>